*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container-home{
    height: 100vh;
    max-height: 1080px;
    position: relative;
    margin-bottom: 120px; 
    margin-top: 35px;  
}
.dark{
    background-color: #404040;
    color: white;
}
.container{
    width: 100%;
}