.wrapper{
    position: relative;
    margin-top: 24px;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:22px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.logo{
    width: 100px;
}

.title,.title-customer,.title-brand{
    font-weight: 700;
}

a:hover{
    color: #4267b2;
}
.container{
    margin-left: 6px;
}

.icon-face i,
.icon-twitter i
{
   font-size: 40px;
   margin: 12px;
}
.icon-insta img{
    width: 32px;
    height: 32px;
    &:hover {
        opacity: 0.8;
        cursor: pointer;
    }
}
.cotaniner-icon{
    text-align:left;
}
.icon-face i{
    color: #0777e9;
    &:hover {
        opacity: 0.8;
        cursor: pointer;
    }
}
.icon-twitter i {
    color: #1d9bf0;
    &:hover {
        opacity: 0.8;
        cursor: pointer;
    }
}

/* Mobile: width < 740px */
@media only screen and (max-width: 46.1875em) {
   .wrapper{
        text-align: center;
   }

    
}  