@import "/src/components/GlobalStyles/GlobalStyles.scss"; 
@import "/src/components/GlobalStyles/_variables.scss"; 
.header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100px;
    margin-bottom: 100px;
    z-index: 999;
    margin-top: 50px;
    
}
.shrink{
    height: $header-shrink-height;
    box-shadow: $box-shadow;
    background-color: rgb(255, 255, 255);
    z-index: 999999;
    margin-top: 0px;
    margin-bottom: 0px;

}
.container{
    height: 100%;
  
}

.logo{
    width: 80px;
    position: absolute;
    right: 50%;
}

.menu_header{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.header-left{
    display: flex;

   

}

.mobile-toggle{
    display: none;
    cursor: pointer;
}


/* Menu tablet */
.menu-tablet{
    position: fixed;
    width: 320px;
    max-width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #fff;
    opacity: 0;
    transform: translateX(-100%);
    transition: all linear 0.2s;
}

.btn-close{
    cursor: pointer;
    position: absolute;
    top: 4px;
    right: 20px;
    width: 12px;
    height: 12px;
    font-size: 1.2rem;
    color: black;
    &:hover{
        opacity: 0.6;
    }
}

.circle__quantity{
    position: absolute;
    top: -14px;
    right: -8px;
    border: 1px solid transparent;
}
.circle__quantity-number{
    border-radius: 50%;
    background-color: #4267b2;
    color: #fff;
    font-size: 14px;
    padding: 5px;
    display: block;
    width: 14px;
    height: 14px;
    text-align: center;
}


.menu-item{
    text-decoration: none;
    margin: 0 4px;
    &:hover{
        color: $main-color;
    }
    span{
        font-size: 18px;
        margin: 0 8px;
    }
    
}

.header-right{
    display: flex;
    
}

.active{
        color: $main-color;
}

.item-right{
    margin: 0 12px;
    font-size: 20px;
    position: relative;
}

.overlay{
    display: none;
}




#checkbox-btn:checked ~ .overlay{
    display: block;
}

#checkbox-btn:checked ~ .menu-tablet{
    transform: translateX(0);
    opacity: 1;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    animation: fadeIn linear 0.2s;
}

/* Mobie and Tablet: width: < 1024px */
@media only screen and (max-width: 63.9375em) {
    .header-left{
        display: none;
    }
    .mobile-toggle{
        display: block;
    }
    .menu_header{
        padding-left:8px ;
        padding-right:8px ;
    }

    .menu__tablet-list{
        text-align: center;
        padding: 12px 0;
        z-index: 99;
    }
}

/* Mobile: width < 740px */
@media only screen and (max-width: 46.1875em) {
    .item-right{
        margin: 3px;
    }
    .menu_header{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

    .logo{
        position: unset;
       margin-left: 70px;
    }

    
}   

/* Tablet: width >= 740px and width < 1024px */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    .logo{
        position: unset;
       margin-left: 100px;
    }
   
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Tippy */
.container__signup{
    width: 150px;
    background-color: white;
    border-radius: 3px;
    box-shadow: $box-shadow;
    padding: 6px;

}

.signup__options{
    padding: 4px;
    font-size: 18px;
    display: flex;
    align-items: center;
    &:hover{
        color: $main-color;
        cursor: pointer;
    }
    .icon{
        font-size: 1.1rem;
    }
}
.option__title{

    margin-left: 4px;
}
.user-avatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.icon-search,
.icon-bag,
.icon-user{
    font-size: 28px;
}